<section id="edit">
  <div class="form form-auto">
    <h2>Add Your Car</h2>
    <form #form="ngForm" (ngSubmit)="addCar(form)">
      <input
        type="text"
        name="brand"
        id="brand"
        placeholder="Brand"
        #inputBrand="ngModel"
        ngModel
      />
      <input
        type="text"
        name="model"
        id="model"
        placeholder="Model"
        #inputModel="ngModel"
        ngModel
      />
      
      <input
        type="text"
        name="imageUrl"
        id="car-image"
        placeholder="Your Car Image URL"
        #inputImageUrl="ngModel"
          ngModel
      />
      <input 
      type="text" 
      name="price" 
      id="price" 
      placeholder="Price in Euro"
      #inputPrice="ngModel"
      ngModel />
      <input
        type="number"
        name="weight"
        id="weight"
        placeholder="Weight in Kg"
        ngModel
        #inputWeight="ngModel"
          
      />
      <input
        type="text"
        name="speed"
        id="speed"
        placeholder="Top Speed in Kmh"
        #inputSpeed="ngModel"
          ngModel
      />
      <input type="text" 
      name="color" 
      id="color" 
      placeholder="color" 
      #inputColor="ngModel"
      ngModel/>
      <input
        type="text"
        name="register"
        id="register"
        placeholder="first register"
        #inputRegister="ngModel"
          ngModel
      />
      <textarea
        id="about"
        name="about"
        placeholder="More About The Car"
        rows="10"
        cols="50"
        #inputAbout="ngModel"
          ngModel
      ></textarea>
      <button type="submit">Add car</button>
    </form>
  </div>
</section>
