<!-- homepage -->
<div class="container">
  <form class="register" #form="ngForm" (ngSubmit)="onRegister(form)">
    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <p class="field field-icon">
        <label for="username"></label>
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
          placeholder="Johny"
          ngModel
          #inputUsername="ngModel"
          minlength="4"
          required=true
        />
      </p>

      <p class="error" *ngIf="inputUsername.value.length==0 && inputUsername.touched" >
        Username is required!
      </p>

      <p class="error" *ngIf="inputUsername.value.length<4 && inputUsername.touched">
        Username must be at least 4 characters!
      </p>

      <!-- email -->
      <p class="field field-icon">
        <label for="email"></label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          ngModel
          #inputEmail="ngModel"
          required="true"
        />
      </p>

      <p class="error" *ngIf="inputEmail.value.length==0 && inputUsername.touched">
        Email is required!
      </p>
      <p class="error" *ngIf="emailExsists">
        Email exists!
      </p>
      <p class="error" *ngIf="invalidEmail">
        Email is invalid !
      </p>

      <!-- telephone -->
      <p class="field field-icon">
        <label for="tel"></label>
        <select name="telepone" id="select-tel" class="tel">
          <option value="00359">+359</option>
        </select>
        <input
          type="text"
          name="telepone"
          id="tel"
          placeholder="885 888 888"
          ngModel
          #inputTelepone="ngModel"
        />
      </p>
      <!-- aicon -->
<p class="field field-icon">
        <label for="image"></label>
        <select name="image"  class="image">
        </select>
        <input
          type="text"
          name="image"
          id="image"
          placeholder="profile picture"
          ngModel
          #inputImage="ngModel"
        />
      </p>
      <!-- password -->
      <p class="field field-icon">
        <label for="password"
          ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          ngModel
          #inputPassword="ngModel"
          required="true"
          minlength="5"
        />
      </p>
       <p class="error"*ngIf="inputPassword.value.length==0 && inputUsername.touched">
                  Password is required!
              </p>
              <p class="error"*ngIf="inputPassword.value.length<5 && inputUsername.touched">
                  Password must be at least 5 characters!
              </p> 

      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"></label>
        <input
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="******"
          ngModel
          #inputRePassword="ngModel"
          required="true"
          minlength="5"
         
        
        />
      </p>

      <p class="error"*ngIf="inputPassword.value !== inputRePassword.value && inputUsername.touched">Repeat Password does not match password!</p>

      <button  [disabled]="form.invalid"
      [style]="{ backgroundColor: form.invalid ? 'grey' : 'rgb(1, 1, 1)' }">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/auth/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
